* {
  color: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto Slab', serif;
}

li {
  list-style: none;
}

header {}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.fas.fa-mug-hot {
  color: rgb(186, 108, 108);
}

.header-list li {
  float: left;
}

.header-list li:hover {
  background-color: rgba(186, 108, 108, 0.5);
}

.header-list li a {
  display: inline-block;
  padding: 33px 20px;
}

.header-list li a {
  text-decoration: none;
}

.main {
  padding: 1px 80px 80px 80px;
  background-color: rgb(60, 10, 10);
}

.parallax {
  padding: 5px 80px 120px 80px;
  background-image: url("./images/nathan-dumlao-QLkjP_W4d7c-unsplash.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.copy-container {
  padding-top: 90px;
}

.copy-container h1 {
  font-size: 140px;
  text-align: center;
  letter-spacing: 26px;
}

.copy-container h2 {
  width: 1px;
  margin: 10px auto;
  font-size: 50px;
  text-align: center;
}

.copy-container span {
  color: rgb(186, 108, 108);
  font-size: 25px;
}

.contents {
  height: 500px;
  margin-top: 100px;
  width: 100%;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  width: 25%;
  text-align: center;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contents-item img {
  width: 350px;
  height: 200px;
}

input,
textarea {
  width: 400px;
  margin: 10px 0px 30px 0px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-form input,
.contact-form textarea {
  color: #000;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

footer {
  background-color: #2f5167;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}